---
layout: archive
---

{{ content }}

<p>Welcome! I am a Ph.D. Candidate in Economics at The University of Arizona. <a href="/cv/">[CV]</a></p>
</p>
</p>I am a labor economist with research interests in the criminal justice system. My work addresses policy-relevant questions about the incentives, objectives, and information environments of the workers within this system, with a particular focus on police officers. To learn more about my research, <a href="/research/">[click here]</a></p>
</p>
<p>I am on the 2024-2025 job market. My <a href="/assets/pdfs/jmp.pdf">job market paper</a> studies the effects of first-line supervisors on police enforcement decisions.</p>

