---
layout: archive
---

{{ content }}

<p>Welcome! I am a Ph.D. Candidate in Economics at The University of Arizona. [[CV]](../assets/pdfs/CV.pdf)
</p>
</p>I am a labor economist with research interests in the criminal justice system. My work addresses policy-relevant questions about the incentives, objectives, and information environments of the workers within this system, with a particular focus on police officers. To learn more about my research, [click here](../research/)
</p>
<p>I am on the 2024-2025 job market. My [job market paper](../assets/pdfs/jmp.pdf) studies how first-line police supervisors impact officer arrests.</p>

